{% extends "pages/layout.html.twig" %}

{% block titlePage %}
	<title>Page de profil</title>
{% endblock %}

{% block contentPage %}
	<section class="flex flex-col items-center mt-10 p-6 bg-gray-100 rounded-lg shadow-lg max-w-lg mx-auto">
		<h1 class="text-2xl font-semibold text-gray-700 mb-6">Mon Profil</h1>
		
		<div class="mb-4">
			<img class="h-24 w-24 rounded-full border-4 border-blue-500 shadow-lg" src="{{ asset(user.avatar ? "uploads/avatar/" ~ user.avatar : 'uploads/avatar/defaultProfileImage.png') }}" alt="Photo de profile">
		</div>
		
		<div class="space-y-4">
			<p class="text-lg font-medium text-gray-700">Pseudo: <span class="font-semibold">{{ user.pseudo }}</span></p>
			<p class="text-lg text-gray-600">Description: <span class="font-normal">{{ user.description ? user.description : "" }}</span></p>
			<p class="text-lg text-gray-600">Email: <span class="font-normal">{{ user.email}}</span></p>
			<p class="text-lg text-gray-600">Emploi: <span class="font-normal">{{ user.emploi ? user.emploi : "Non spécifié" }}</span></p>
			<p class="text-lg text-gray-600">Téléphone: <span class="font-normal">{{ user.telephone ? user.telephone : "Non spécifié" }}</span></p>
			<p class="text-lg text-gray-600">Site Web: 
				<span class="font-normal">
					{% if user.siteUrl %}
						<a href="{{ user.siteUrl }}" class="text-blue-500 underline hover:text-blue-700" target="_blank">{{ user.siteUrl }}</a>
					{% else %}
						Non spécifié
					{% endif %}
				</span>
			</p>
		</div>

        <a class="mt-10 text-yellow-500 underline" href={{path("app_modifier_informations")}}>Modifier mes informations</a>
	</section>
{% endblock %}
